@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

/* .cell{
  width: 31%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: #7ca8d1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700px;
}

#board{
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

body {
  background: #bbb;
}
